body {
    height: 1000px;
}

.modal-body div{
    padding: 10px;
}

.card-body .badge{
    position: absolute;
    top: -15px;
    right: -35px;
}

label {
    font-size: 1.5rem;
}
.card{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 1px;
}

.navbar-brand{
    font-family: 'Sensations';
    color: rgb(179, 179, 3);
    font-size: 30px;

}
input{
    width: 100%;
}

.featured-header {
  border-bottom: none; /* Removes the bottom border */
  border-left: none; /* Removes the left border */
  border-right: none; /* Removes the right border */
  text-align: center;
  border-top: 1px solid #000; /* Adds the top line */
}

.featured-header legend {
  padding: 0 8px; /* Adds space around the text */
  font-weight: normal;
  /* Background is transparent by default, so it works with any page background */
}

@font-face {
    font-family: 'Sensations';
    src: url(/fonts/Sensations\ and\ Qualities.ttf);
}