body {
    text-align: center;
    padding: 10px;
}

.card {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    overflow: visible;
}

.ytLogo {
    position: absolute;
    right: 15px;
    top: 125px;
    z-index: 1000;
}

.card-title {
    text-align: left;
}

#img-col {
    height: 150px;
}

#img-col-box {
    background: radial-gradient(circle,
            #ffffff 0%,
            rgba(0, 0, 0, 0) 100%);

}

.hide{
    display: none;
}