body {
    background-color: rgb(72, 165, 246);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:whitesmoke;
    text-align: center;
    font-size: 1.5em;
}
h1{
    font-size: 3em;
}
#numBox{
    max-width: 500px;
    display: inline-block;
    background-color: aliceblue;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px black;
    animation: loadin 1.5s 0.5s both;
    
}

#numBox span{
    font-size: 10px;
    margin: 0px 1px;
}
input{
    max-width: 30px;

}
button{
    border: none;
    background-color:  rgb(72, 165, 246);
    font-family: "Lato", sans-serif;
    color: whitesmoke;
    transition-property: background-color color;
    transition-duration: 0.2s;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(61, 141, 210);
}
button:active{
    background-color: rgb(255, 255, 255);
    color: rgb(72, 165, 246);
}
#errorImg{
    position: absolute;
    height: 100px;
    top: -50px;
    right: -70px;
    opacity: 0;
}
@keyframes loadin {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}